@import "@helgadigitals/vera-ui/dist/vera-ui.css";
@import "tailwindcss";
@import "tw-animate-css";

/* /* @custom-variant dark (&:is(.dark *));
 */

@theme inline {
  --color-custom: #6463D6;
  --color-custom1: #DF0404;
  --color-custom2: #F99C30;
  --color-custom3: #1D1717;
  --color-custom4: #C0C016;
  --color-custom5: #DF0404;
  --color-custom6: #00B087;
  
}

