NODE_ENV=development

PORT=3000

LOG_LEVEL=debug


# dev database_url of you docker postgres db
DATABASE_URL=postgresql://postgres:ukwelidb@localhost:5432/ukwelidb

#make use of the pnpx @better-auth/cli@latest secret to generate secret
BETTER_AUTH_SECRET=ef4c086b9befd7d6f596a022ff6941ed4a6cea46c7883f81ca19db54155bfad8
BETTER_AUTH_URL=http://localhost:3000